:root{
    --color-primary:#9552FD;
    --color-secondary:  #ECC851;
    --color-option: #DF1F70;
    --color-accent-primary: #ffffff;
    --color-accent-secondary:#676767;
    --color-accent-option:#dbcdf0;
}

body{
    font-family: Inter,Arial, Helvetica, sans-serif;
    background: var(--color-secondary);
    color: var(--color-accent-primary);
    box-sizing: border-box;
}

h1,h2,h3{
    color: var(--color-accent-primary);
}

a{
    text-decoration: none;
    color: var(--color-accent-primary);
}


.hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.hero-main{
    flex: 1 1 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--color-primary);
    position: relative;
}

.hero-main-text{
    display: flex;
    flex-direction: column;
}

.hero-main-image{
    position: absolute;
    width: 20rem;
    height: 23rem;
}
.hero-main-image img{
    width: 100%;
    height: 100%;
}



.hero-sub{
    flex-direction: 1 1 40%;
    background: var(--color-option);
}


