{% load static %}
<footer class="mt-5 py-5 bg-warning sticky-bottom">
    <div class="container py-1">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <a href="#" class="d-inline-flex align-items-center mb-2 link-dark text-decoration-underline">About
                    Us</a>
                <p class=" text-muted"> Your one-stop shop for quality eBooks, innovative kids' toys, and enriching
                    child products.</p>
                <p class=" text-muted">Explore our curated collection, where the joy of learning meets the excitement of
                    play!</p>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <a href="/" class="d-inline-flex align-items-center mb-2 link-dark text-decoration-underline">
                    Informations
                </a>
                <ul class="list-unstyled text-muted">
                    <li class="mb-2">FAQ</li>
                    <li class="mb-2">Guideline</li>
                    <li class="mb-2">Delivery Info</li>
                    <li class="mb-2">Discount</li>
                    <li class="mb-2">Gift</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 mt-4">
                <ul class="list-unstyled text-muted">
                    <li class="mb-2">My Wishlist</li>
                    <li class="mb-2">Contacts</li>
                    <li class="mb-2">Help</li>
                    <li class="mb-2">Music</li>
                    <li class="mb-2">Extras</li>
                    <li class="mb-2">Meet The Auther</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 offset-lg-1">
                <a href="/" class="d-inline-flex align-items-center mb-2 link-dark text-decoration-underline">
                    Contact Us
                </a>
                <ul class="list-unstyled text-muted">
                    <li class="mb-2">XYZ Inc.</li>
                    <li class="mb-2">123 Main Street</li>
                    <li class="mb-2">Suite 200</li>
                    <li class="mb-2">City, State ZIP Code</li>
                    <li class="mb-2">Country</li>
                </ul>
                <p class="text-muted">Phone: +1111111111</p>
                <p class="text-muted">Email: email@email.com</p>
            </div>

        </div>
    </div>
</footer>