<footer>
    <div class="footer-container">
        <div class="footer-item aboutus">
            <h3><u>About Us</u></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni voluptatibus suscipit
                    error voluptatum assumenda?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, sed.</p>
        </div>
        <div class="footer-item informations">
            <h3><u>Informations</u></h3>
            <div class="informations-list-item">
                <div class="list-item-one">
                    <ul>
                        <li>FAQ</li>
                        <li>Guideline</li>
                        <li>Delivery Info</li>
                        <li>Discount</li>
                        <li>Gift</li>
                    </ul>
                </div>
                <div class="list-item-two">
                    <ul>
                        <li>My Wishlist</li>
                        <li>Contacts</li>
                        <li>Help</li>
                        <li>Music</li>
                        <li>Extras</li>
                        <li>Meet The Auther</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-item contactus">
            <h3><u>Contact Us</u></h3>
            <ul>
                <li>XYZ Inc.</li>
                <li>123 Main Street</li>
                <li>Suite 200</li>
                <li>City, State ZIP Code</li>
                <li>Country</li>
            </ul>
            <p>Phone: +1111111111</p>
            <p>Email: email@email.com</p>
        </div>
    </div>
</footer>