{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand " href="/">
            <img class="img-fluid" src="{% static 'image/Asset-6PNG.png'%}" alt=""
                style="max-width: 190px; max-height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-items-center text-center" id="navbarNav">
            <div class="py-2 ms-auto bg-danger rounded-pill text-center">
                <a class="px-5 text-light" href="/">Home</a>
                <a class="px-5 text-light" href="/books/">Books</a>
                <a class="px-5 text-light" href="/books/">Store</a>
                <a class="px-5 text-light" href="#">Music</a>
                <a class="px-5 text-light" href="#">About</a>
            </div>
            <div class="search-icon">
                <button id="searchButton" class="btn btn-danger rounded-circle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                    <i class="bi bi-search"></i>
                </button>
                <div class="collapse" id="searchCollapse">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Type to Search..."
                            aria-label="Search">
                        <button class="btn btn-danger rounded-circle" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</nav>