{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Books{% endif %}
{% endblock %}
{% block content %}

<style>
    body {
        font-family: Inter, Arial, Helvetica, sans-serif;
        background: var(--color-secondary);
        color: var(--color-accent-primary);
        box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
        color: var(--color-accent-primary);
    }

    a {
        text-decoration: none;
        color: var(--color-accent-primary);
    }

    .footer-container {
        background: var(--color-primary);
        color: var(--color-accent-option);
    }

    .footer-container h3 {
        color: var(--color-accent-option);
    }
</style>

<header>
    <div class="booklist-hero">
        <div class="hero-container">
            <div class="hero-main">
                <div class="hero-main-text">
                    <p>Kiddie Book Haven</p>
                    <h2>Where imagination</h2>
                    <h2>and Wonder come</h2>
                    <h2>to life!</h2>
                    <a href="#">Explore it</a>
                </div>
                <div class="hero-main-image">
                    <img src="{% static 'image/stack_of_book.png' %}" alt="stack of books">
                </div>
            </div>
            <div class="hero-sub">
                <div class="hero-sub-text">
                    <h1>30%</h1>
                    <h2>off now</h2>
                    <p>Best Books and</p>
                    <p>Selecttive ones</p>
                    <p>at best rates!</p>
                    <a href="#">Explore it</a>
                </div>
                <div class="hero-sub-image">
                    <img src="{% static 'image/eco_bulb.png' %}" alt="stack of books">
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="booklist-wrapper">
        <div class="perv-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="26" width="20" viewBox="0 0 320 512">
                <path opacity="1" fill="#9552FD"
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
            </svg>
        </div>

        <div class="booklist-container">
            {% for product in products %}
            <div class="booklist">
                <div class="booklist-image">
                    <div class="booklist-image-container">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" alt="book image">
                        </a>
                    </div>
                </div>
                <div class="booklist-details">
                    <div class="booklist-text">
                        <div class="booklist-detail-item1">
                            <div class="booklist-title">
                                <a href="{{ product.get_absolute_url }}">
                                    <h2>{{ product.title }}</h2>
                                </a>
                            </div>
                        </div>
                        <div class="booklist-detail-item2">
                            <div class="booklist-arthur">
                                <p>{{ product.arthur }}</p>
                            </div>
                            <div class="booklist-description">
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="booklist-price">
                                <h1 class="booklist-price-main">${{ product.price }}</h1>
                                <h1 class="booklist-price-blur">$86.51</h1>
                            </div>
                        </div>
                        <div class="booklist-rating">
                            <p>Rating {{ product.rating }}/5</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="next-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="26" width="20" viewBox="0 0 320 512">
                <path opacity="1" fill="#9552FD"
                    d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
            </svg>
        </div>
    </div>

    <div class="navigation-dots">

    </div>
    <div class="flashsale">
        <div class="flashsale-main">
            <div class="flashsale-text">
                <h1>Flash Sale</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem aspernatur atque aperiam harum,
                    rem
                    perspiciatis iste deleniti ea. Et architecto ut dolore commodi reprehenderit quis eligendi
                    quaerat
                    at non ratione!</p>
            </div>
            <div class="flashsale-countdown">
                <h2 class="flashsale-countdown-text">Hurry up offer ends in:</h2>
                <div class="flashsale-countdown-timer">
                    <div class="timer-months timer">
                        <div class="timer-digit-box">
                            <p class="timer-digit">00</p>
                        </div>
                        <p class="timer-text">MONTHS</p>
                    </div>
                    <div class="timer-day timer">
                        <div class="timer-digit-box">
                            <p class="timer-digit">03</p>
                        </div>
                        <p class="timer-text">DAYS</p>
                    </div>
                    <div class="timer-minutes timer">
                        <div class="timer-digit-box">
                            <p class="timer-digit">22</p>
                        </div>
                        <p class="timer-text">MINUTES</p>
                    </div>
                </div>
            </div>
            <div class="flashsale-footer">
                <p>Already Sold: 15pcs</p>
                <p>Reamining: 5pcs</p>
            </div>
        </div>
        <div class="flashsale-books">
            {% if featured_product %}
            <div class="flashsale-books-details">
                <div class="flashsale-books-text">
                    <div class="flashsale-books-detail-item1">
                        <div class="flashsale-books-title">
                            <a href="{{ featured_product.get_absolute_url }}">
                                <h2>{{ featured_product.title }}</h2>
                            </a>
                        </div>
                    </div>
                    <div class="flashsale-books-detail-item2">
                        <div class="flashsale-books-arthur">
                            <p>{{ featured_product.arthur }}</p>
                        </div>
                        <div class="flashsale-books-price">
                            <h1 class="flashsale-books-price-blur">$86.51</h1>
                            <h1 class="flashsale-books-price-main">${{ featured_product.price }}</h1>
                        </div>
                    </div>
                    <div class="flashsale-books-rating">
                        <p>Rating {{ featured_product.rating }}/5</p>
                    </div>
                </div>
            </div>
            <div class="flashsale-books-image">
                <div class="flashsale-books-image-container">
                    <a href="{{ featured_product.get_absolute_url }}">
                        <img src="{{ featured_product.image.url }}" alt="flashsale book image">
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</main>

{% endblock %}