{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<!-- <div class="books-container">
    <div class="feature-book">
        <h2 class="feature-heading">Deal of the week</h2>
        {% for product in products %}
        <div class="fbook-content">
            <div class="fbook-image-container">
                <a href="{{ product.get_absolute_url }}"><img class="fbook-image" src="{{ product.image.url }}"
                        alt="books"></a>
            </div>
            <div class="fbook-text">
                <div class="fbook-title">
                    <h2>
                        <a href="{{ product.get_absolute_url }}">
                            {{ product.name }}
                        </a>
                    </h2>
                </div>
                <div class="fbook-arthur">
                    <p>Marry Hoffma</p>
                </div>
                <span class="fbook-price">
                    <h1 class="fbook-price-main">${{ product.price }}</h1>
                    <h1 class="fbook-price-blur">$86.51</h1>
                </span>
                <div class="fbook-rating">
                    <p>Rating 4.68/5</p>
                </div>
                <div class="fbook-countdown">
                    <h2 class="fbook-countdown-text">Hurry up offer ends in:</h2>
                    <div class="fbook-countdown-timer">
                        <div class="timer-months timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">00</p>
                            </div>
                            <p class="timer-text">MONTHS</p>
                        </div>
                        <div class="timer-day timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">03</p>
                            </div>
                            <p class="timer-text">DAYS</p>
                        </div>
                        <div class="timer-minutes timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">22</p>
                            </div>
                            <p class="timer-text">MINUTES</p>
                        </div>
                    </div>
                </div>
                <div class="fbook-footer">
                    <p>Already Sold: 15pcs</p>
                    <p>Reamining: 5pcs</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="rating-book">
        <h2 class="rating-heading">Top Rating</h2>
        <div class="rbook-content one">
            <div>
                <img class="rbook-image" src="./static/image/book.jpg" alt="books">
            </div>
            <div class="rbook-text">
                <div class="rbook-title">
                    <h2>Amazing Grace - 25th anniversary Edition</h2>
                </div>
                <div class="rbook-arthur">
                    <p>Marry Hoffma</p>
                </div>
                <span class="rbook-price">
                    <h1 class="rbook-price-main">$56</h1>
                    <h1 class="rbook-price-blur">$86.51</h1>
                </span>
                <div class="rbook-rating">
                    <p>Rating 4.68/5</p>
                </div>

            </div>
        </div>
        <div class="rbook-content two">
            <div>
                <img class="rbook-image" src="./static/image/book.png" alt="books">
            </div>
            <div class="rbook-text">
                <div class="rbook-title">
                    <h2>Amazing Grace - 25th anniversary Edition</h2>
                </div>
                <div class="rbook-arthur">
                    <p>Marry Hoffma</p>
                </div>
                <span class="rbook-price">
                    <h1 class="rbook-price-main">$56</h1>
                    <h1 class="rbook-price-blur">$86.51</h1>
                </span>
                <div class="rbook-rating">
                    <p>Rating 4.68/5</p>
                </div>

            </div>
        </div>
        <div class="rbook-content three">
            <div>
                <img class="rbook-image" src="./static/image/book.png" alt="books">
            </div>
            <div class="rbook-text">
                <div class="rbook-title">
                    <h2>Amazing Grace - 25th anniversary Edition</h2>
                </div>
                <div class="rbook-arthur">
                    <p>Marry Hoffma</p>
                </div>
                <span class="rbook-price">
                    <h1 class="rbook-price-main">$56</h1>
                    <h1 class="rbook-price-blur">$86.51</h1>
                </span>
                <div class="rbook-rating">
                    <p>Rating 4.68/5</p>
                </div>

            </div>
        </div>
    </div>
</div> -->

{% endblock %}