{% extends "shop/base/base.html" %}
{% load static %}
{% block content %}
<div class="hero">
    <div class="hero-fluide">
        <div class="hero-text">
            <h1>Page</h1>
            <h1>Title</h1>
        </div>
        <div class="hero-subtext">
            <p>A short brif here Example:</p>
            <p>This months book recommendations from</p>
            <p>XYZ, publishing Directoe at Usborne</p>
        </div>
        <a class="hero-link" href="/books">
            <span class="hero-link-text">View Books
            </span>
        </a>
    </div>
    <div class="hero-image">
        <img src="{% static 'image/family-hero.png'%}" alt="Hero Image">
    </div>
</div>
<div class="books-container">
    <div class="feature-book">
        <h2 class="feature-heading">Deal of the week</h2>
        {% if featured_product %}
        <div class="fbook-content">
            <div class="fbook-image-container">
                <a href="{{ featured_product.get_absolute_url }}">
                    <img class="fbook-image" src="{{ featured_product.image.url }}" alt="books">
                </a>
            </div>
            <div class="fbook-text">
                <div class="fbook-title">
                    <h2>
                        <a href="{{ featured_product.get_absolute_url }}">
                            {{ featured_product.title }}
                        </a>
                    </h2>
                </div>
                <div class="fbook-arthur">
                    <p>{{ featured_product.arthur }}</p>
                </div>
                <span class="fbook-price">
                    <h1 class="fbook-price-main">${{ featured_product.price }}</h1>
                    <h1 class="fbook-price-blur">$86.51</h1>
                </span>
                <div class="fbook-rating">
                    <p>Rating {{ featured_product.rating }}/5</p>
                </div>
                {% for event in countdown_data %}
                <div class="fbook-countdown">
                    <h2 class="fbook-countdown-text">Hurry up, {{ event.event_name }} ends in:</h2>
                    <div class="fbook-countdown-timer">
                        <div class="timer-day timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">{{ event.days|default:"00"|stringformat:"02d" }}</p>
                            </div>
                            <p class="timer-text">DAYS</p>
                        </div>
                        <div class="timer-day timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">{{ event.hours|default:"00"|stringformat:"02d" }}</p>
                            </div>
                            <p class="timer-text">HOURS</p>
                        </div>
                        <div class="timer-day timer">
                            <div class="timer-digit-box">
                                <p class="timer-digit">{{ event.minutes|default:"00"|stringformat:"02d" }}</p>
                            </div>
                            <p class="timer-text">MINUTES</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="fbook-footer">
                    <p>Already Sold: 15pcs</p>
                    <p>Reamining: 5pcs</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="rating-book">
        <h2 class="rating-heading">Top Rating</h2>
        <div class="rbook-container">
            {% for recently_updated_book in recently_updated_books %}
            <div class="rbook-content">
                <div class="rbook-image-container">
                    <a href="{{ recently_updated_book.get_absolute_url }}">
                        <img class="rbook-image" src="{{ recently_updated_book.image.url }}" alt="books">
                    </a>
                </div>
                <div class="rbook-text">
                    <div class="rbook-title">
                        <h2>
                            <a href="{{ recently_updated_book.get_absolute_url }}">
                                {{ recently_updated_book.title }}
                            </a>
                        </h2>
                    </div>
                    <div class="rbook-arthur">
                        <p>{{ recently_updated_book.arthur }}</p>
                    </div>
                    <span class="rbook-price">
                        <h1 class="rbook-price-main">${{ recently_updated_book.price }}</h1>
                        <h1 class="rbook-price-blur">$86.51</h1>
                    </span>
                    <div class="rbook-rating">
                        <p>Rating {{ recently_updated_book.rating }}/5</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="view">
        <a href="#" class="music view-item">
            <div class="music-view-content">
                <h1>Musics</h1>
                <p>Lorem ipsum dolor sit amet consectetur..</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
        </a>
        <a href="/books" class="book view-item">
            <div class="book-view-content">
                <h1>Books</h1>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            </div>
        </a>
    </div>
    <div class="shorts">
        <h1>Lorem ipsum dolor sit.</h1>
        <h1>Lorem ipsum dolor sit.</h1>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    {% endblock %}