:root{
    --color-primary:#9552FD;
    --color-secondary:  #ECC851;
    --color-option: #DF1F70;
    --color-accent-primary: #ffffff;
    --color-accent-secondary:#676767;
    --color-accent-option:#dbcdf0;
}

body{
    font-family: Inter,Arial, Helvetica, sans-serif;
    background: var(--color-primary);
    color: var(--color-accent-primary);
    box-sizing: border-box;
}

h1,h2,h3{
    color: var(--color-accent-primary);
}

a{
    text-decoration: none;
    color: var(--color-accent-primary);
}

ul,li{
    list-style: none;
    padding:0;
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

/*  Navigation section */
.container-navber{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo-text{
    font-size: 3rem;
    color: white;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-option);
    border-radius: 25px;
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;
}
 .item{
    padding: .7rem 4rem;
    font-size: 1.2rem;
    transition:all 0.3s ease-in-out 0.2s;
 }

 .item:hover{
    transform: scale(1.4);
 }

/* *************************************************** */

.search-icon{
    position: relative;
    float: right;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--color-option);
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 60px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
 

/* *************************************************** */


/*  Hero section */

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3rem;
}

.hero-fluide h1{
    font-size: 6rem;
    font-weight: lighter;
    padding-bottom: 0;
    line-height: 2.5rem;
}
.hero-link{
    background: var(--color-option);
    padding: .5rem 2rem;
    border-radius: 20px;
    margin-top: 20px;
}

.hero-link-text{
    display: inline-block;
    margin-top: 30px;
}

.hero-link-text::after{
    content: "-->";
    margin-left: 5px;
    transition: margin-left .3s;
}

.hero-link-text:hover::after{
    margin-left: 10px;
}


/* Book display section */


.books-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 2rem 6rem;
}

/* Deal of the week sextion */

.feature-book{
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    
}
.feature-heading{
    font-weight: lighter;
    font-size: 3rem;
}

.fbook-content{
    align-items: center;
    border: 2px solid #feb651;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-right: 3rem; */
    margin-top: 4.5rem;
    padding: 0 3rem ;
    
}


.fbook-image-container{ 
    margin-right: 1.5rem;
}

.fbook-image{
    max-width: 400px;
    max-height: 590px;
    transition: .3s;
    border-radius: 15px;
    box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
}
.fbook-image:hover{
    transform: scale(1.02);
}

.fbook-text{
    padding: 5rem 0 4rem ;
}

.fbook-title {
    font-size: 2rem;
}
.fbook-arthur{
    color: var(--color-accent-option);
}

.fbook-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.fbook-price-main{
    font-weight: lighter;
    font-size: 3rem;
    line-height: 0;
}

.fbook-price-blur{
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 1rem;
    color: var(--color-accent-option);
}

.fbook-rating{
    color: var(--color-accent-option);
}

.fbook-countdown{
    padding-top: 2rem;
}

.fbook-countdown-text{
    color: #FEB651;
}

.fbook-countdown-timer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
}


.fbook-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
}

.timer-digit{
    font-size: 30px;
}

.timer-digit-box{
    background: #E75291;
    padding: 0 2rem;
    border-radius: 20px;
    
}

.timer-text{
    font-size: .7rem;
}

/* Top rating section */

.rating-book{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rating-heading{
    font-weight: lighter;
    font-size: 3rem;
}
.rbook-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 2px solid #feb651;
    border-radius: 20px;
}
.rbook-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}


.rbook-image-container{ 
    width: 173px;
    min-height: 240px;
    max-height: auto;
    margin-right: 3rem;
}

.rbook-image{
    max-width: 100%;
    height: auto;
    margin: 1.5rem;
    border-radius: 15px;
    box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    transition: .3s;
}

.rbook-image:hover{
    transform: scale(1.02);
}

.rbook-title {
    font-size: 1rem;
    width: 25ch;
}
.rbook-arthur{
    color: var(--color-accent-option);
}

.rbook-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0;
}

.rbook-price-main{
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 0;
}


.rbook-price-blur{
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 1rem;
    color: var(--color-accent-option);
}

.rbook-rating{
    color: var(--color-accent-option);
}


/* View Sections */

.view{
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7rem;
    width: 100%;
}

.view-item{
    flex: 1;
    height: 25rem;
    box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 28px -4px rgba(0,0,0,0.75);
    transition: flex .5s ease;
}

.view-item:hover{
    flex: 5;
}


.music{
    background: var(--color-option);
    position: relative;
    overflow: hidden;
}

.music-view-content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1rem;
    text-wrap: nowrap;
}

.music-view-content h1{
    
    font-weight: lighter;
    font-size: 7rem;
    line-height: 0;
    flex-wrap: nowrap;
}



.book{
    background: var(--color-secondary);
    position: relative;
    color: var(--color-accent-secondary);
    overflow: hidden;
}

.book-view-content{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
    color: #4A4A4A;
    text-wrap: nowrap;
}

.book-view-content h1{
    font-weight: lighter;
    font-size: 7rem;
    color: var(--color-accent-secondary);
    line-height: 0; 
}

.shorts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.shorts h1,
.shorts p{
    line-height: 0;
    font-weight: lighter;
    
}

.shorts h1{
    font-size:4rem;
    letter-spacing: -3px;
}

.shorts{
    font-size: 1.6rem;
    letter-spacing: -1px;
}

.footer-container{
    background: var(--color-secondary);
    padding: 2rem 20rem 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20%;
    color: var(--color-accent-secondary);
}

.footer-container h3{
    color: var(--color-accent-secondary);
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.footer-container  li{
    line-height: 2rem;
}

.aboutus{
    width: 20%;
}

.aboutus p{
    line-height: 1.5rem;
}

.informations{
    display: flex;
    flex-direction: column;
    height: 50%;
}


.informations-list-item{
    display: flex;
    flex-direction: row;
}


.list-item-two ul{
    padding-left: 5rem;
}