{% load static %}
<div class="hero">
    <div class="hero-fluide">
        <div class="hero-text">
            <h1>Page</h1>
            <h1>Title</h1>
        </div>
        <div class="hero-subtext">
            <p>A short brif here Example:</p>
            <p>This months book recommendations from</p>
            <p>XYZ, publishing Directoe at Usborne</p>
        </div>
        <a class="hero-link" href="#">
            <span class="hero-link-text">View Books
            </span>
        </a>
    </div>
    <div class="hero-image">
        <img src="{% static 'image/family-hero.png'%}" alt="Hero Image">
    </div>
</div>